{% extends "myapp1/base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в Фотобанк!</h1>
    <p class="lead">Фотоба́нк — это банк изображений, который выступает посредником между авторами изображений и их покупателями.
        Он берёт на себя задачу поиска покупателей и приёма платежей, что значительно упрощает жизнь фотографам и
        иллюстраторам.</p>
    <hr class="my-4">
    <p>Загрузите свои фотографии и наслаждайтесь возможностью продавать их миллионам пользователей по всему миру!</p>
    <a class="btn btn-primary btn-lg" href="{% url 'myapp1:upload_image' %}" role="button">Загрузить изображение</a>
</div>

<div class="card-deck">
    <div class="card">
        <img src="/media/images/title1.jpeg" class="card-img-top" alt="Фото животных">
        <div class="card-body">
            <h5 class="card-title">Животные</h5>
            <p class="card-text">Живо́тные (лат. Animalia) — традиционно (со времён Аристотеля) выделяемая категория организмов, в настоящее время рассматриваемая в качестве биологического царства. Животные являются основным объектом изучения зоологии.</p>
        </div>
    </div>
    <div class="card">
        <img src="/media/images/title2.jpg" class="card-img-top" alt="Фото программирования">
        <div class="card-body">
            <h5 class="card-title">Программирование</h5>
            <p class="card-text">Программирование — это написание алгоритмов для управления работой компьютера. Машина не понимает команды, написанные простыми словами..</p>
        </div>
    </div>
    <div class="card">
        <img src="/media/images/title3.jpg" class="card-img-top" alt="Фото спорта">
        <div class="card-body">
            <h5 class="card-title">Спорт</h5>
            <p class="card-text">Спорт (от англ. sport — сокращение от первоначального старофранц. disport — «развлечение, забава»[1]) — организованная по определённым правилам деятельность людей (спортсме́нов), состоящая в сопоставлении их физических и интеллектуальных способностей.</p>
        </div>
    </div>
</div>
{% endblock content %}