html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.container {
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Высота футера */
}

.card {
    min-height: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
.card-deck {
    margin-bottom: 200px;
}